*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
#local.properties

# OS junk
#.DS_Store
Thumbs.db

# Kotlin/Compose
.kotlinc/
*.log
*.preview.json

# Other build artifacts
captures/
out/